{:deps {org.clojure/core.logic {:mvn/version "1.0.1"}
        io.github.nextjournal/clerk {:mvn/version "0.12.707"}}

 :aliases
 {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}
          :main-opts ["-m" "nrepl.cmdline"]}

  :clerk {:exec-fn nextjournal.clerk/serve!
          :exec-args {:browse? true
                      :watch-paths ["notebooks"]}}}}
